<form action="/single_player" method="post" >
	<input  type="image" src="/images/sprsl-03.svg" alt="Submit Form" name="selection" class="Forms" value="rock">

	<input  type="image" src="/images/sprsl-02.svg" name="selection" class="Forms" value="paper">

	<input  type="image" src="/images/sprsl-04.svg" name="selection" class="Forms" value="scissors" >

	<input  type="image" src="/images/sprsl-01.svg" name="selection" class="Forms" value="spock" >

	<input  type="image" src="/images/sprsl-05.svg" name="selection" class="Forms" value="lizard" >
</form>

<% if @player1_choice %>
	<h4 class="choice, centered">
		<%= @player1_name %> chose:
		<img src= <%= @selection[@player1_choice] %> >
		<%= @player2_name %> chose:
		<img src= <%= @selection[@player2_choice] %> >
		
	<h4>
<% end %>

<% if @result %>
	<h1 class="centered">
		You <%= @result %>
	</h1>
<% end %>
<% if @score %>
	<h4 class="score, centered">
		Wins: <%= @score.inspect %>
	</h4>
<% end %>